<div class="row mt-3">
    <div class="col-2">
        <button class="btn btn-sm btn-outline-primary"
                ng-click="vm.refresh_game_stats()">Refresh Game Stats
            <div status=vm.show.refresh_game_stats></div>
        </button>
    </div>
    <div class="col-3">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">GP</span>
            </div>
            <input type="text"
                   ng-model="vm.hot_streak_gp"
                   class="form-control"
                   size="2"
                   placeholder=""
                   aria-label=""
                   aria-describedby="basic-addon1">
            <div class="input-group-append">
                <button class="btn btn-outline-primary"
                        type="button"
                        ng-click="vm.get_hot_streaks()">Refresh Hot Streaks
                    <div status=vm.show.refresh_hot_streak></div>
                </button>
            </div>
        </div>
    </div>

</div>

<div class="row mt-3">
    <div class="col">
        <div ui-grid="vm.hot_streak_grid"
             class="grid"
             ui-grid-selection></div>
    </div>
</div>