<!doctype html>
<html ng-app="app">

<head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>

        <link rel="stylesheet"
              type="text/css"
              href="node_modules/angular-ui-grid/ui-grid.min.css">

        <link rel="stylesheet"
              type="text/css"
              href="styles.css">



</head>

<body>
        <div class="container-fluid"
             ng-controller="RootController as vm">

                <div class="row mt-5"
                     ng-if="vm.loading.loading">
                        <div class="col">
                                <p class="text-center">
                                        <i class="fas fa-spinner fa-pulse fa-10x text-primary"></i>
                                </p>
                        </div>
                </div>

                <div ui-view
                     ng-if="!vm.loading.loading"></div>

        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.min.js"></script>

        <script src="node_modules/angular-ui-grid/ui-grid.min.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-touch.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-animate.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-aria.js"></script>

        <!-- <script src="yourPathToAngularJS/angular.min.js"></script> -->
        <!-- <script src="node_modules/angular-swagger-ui/dist/scripts/swagger-ui.min.js"></script>
    <script src="node_modules/angular-swagger-ui/dist/scripts/modules/openapi3-converter.min.js"></script> -->

        <script src="all.js"></script>
        <script src="html.js"></script>


        <script>
                ROOT = 'http://127.0.0.1:5000/';
                STATIC_ROOT = 'app/';//ROOT + 'static/app/';
                API_ROOT = ROOT + '';
                DEBUG = 'true';
        </script>
</body>



</html>