.bg-good{
    background-color: #96ffae !important;
}

.bg-bad{
    background-color: #ffcdd2 !important;
}

.bg-plus_minus{
    background-color: #b9dbff;
}

.bg-gp, .bg-gp_skater, .bg-gp_goalie{
    background-color: #bbbbbb;
}

.bg-hit, .bg-blk{
    background-color: #fff2ca;
}

.ui-grid-cell-contents-compact{
    line-height: 60%;
    padding-top:2pk;
}

.header_text{
    font-size: 80%;
}

.goalie_grid{
    height: 250px;
}

.player_grid{
    height: 180px;
}

.target_grid{
    height: 31px;
}

.team_grid{
    height: 450px;
}

.container-fluid{
    width: 1300px;
}
