<div class="row mt-3">
    <div class="col-2">
        <a class="btn btn-outline-primary"
           ui-sref="draft">Go To Draft</a>
    </div>
    <div class="col">
        <a class="btn btn-outline-primary"
           ui-sref="hot_players">Find Hot Players</a>
    </div>
</div>