<span>
    <i ng-show="status==1 || status==0"
       ng-class="{'invisible': status==0}"
       class="fas fa-spinner fa-pulse"></i>
    <i ng-show="status==2"
       class="far fa-check-circle"></i>
    <i ng-show="status==3"
       class="far fa-times-circle"></i>
</span>