<div class="row mt-3">
    <div class="col">
        <div ui-grid="vm.skater_data_grid"
            class="grid"
            ui-grid-selection></div>
    </div>
</div>

    <div class="row mt-3">
        <div class="col-6">
            <div ui-grid="vm.goalie_data_grid"
                class="goalie_grid"
                ui-grid-selection></div>

        </div>
        <div class="col-6">

            <div class="row">
                <div class="col-7">
                    <h3>{{ vm.selected_player.name }}</h3>
                </div>
                <div class="col">
                    <h5>Position: {{ vm.selected_player.pos }} Team: {{ vm.selected_player.team }} </h5>
                </div>
            </div>
            <div ui-grid="vm.player_data_grid"
                class="player_grid"></div>

            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-outline-primary btn-sm"
                        ng-click="vm.remove_player(vm.selected_player)">Remove Player</button>

                    <button class="btn btn-outline-primary btn-sm"
                        ng-click="vm.refresh_draft_results()">Refresh Draft Results</button>

                    <button class="btn btn-outline-primary btn-sm float-right"
                        ng-click="vm.reset_players()">Reset All</button>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div ui-grid="vm.target_data_grid"
                class="target_grid"></div>
        </div>
    </div>

    <div class="row mt-3 mb-5">
        <div class="col">
            <div ui-grid="vm.team_data_grid"
                class="team_grid"></div>
        </div>
    </div>